<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <span role="button" routerLink="/" class="h3 my-4 d-inline-block">PBD-Manger</span>
      </div>
      <div class="col-sm-6">

      </div>
    </div>

  </div>
    <nav>
      <section class="container">
        <ul>
          <li><a role="button" routerLink="/marketing" class="mat-button" >Marketing</a></li>
          <li><a role="button" routerLink="/operation" class="mat-button" >Operation</a></li>
        </ul>
      </section>
    </nav>
</header>
