<div class="container">
  <h1 class="my-3">Marketing Dashboard</h1>
  <hr>
  <div class="row">
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/leads" role="button" class="py-5 bg-primary text-white">Leads</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/accounts" role="button" class="py-5 bg-primary text-white">Accounts</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/contacts" role="button" class="py-5 bg-primary text-white">Contacts</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/archived" role="button" class="py-5 bg-primary text-white">Archived</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/leads" role="button" class="py-5 bg-primary text-white">Leads</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/accounts" role="button" class="py-5 bg-primary text-white">Accounts</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/contacts" role="button" class="py-5 bg-primary text-white">Contacts</h3>
    </div>
    <div class="col-sm-3 text-center ">
      <h3 routerLink="/archived" role="button" class="py-5 bg-primary text-white">Archived</h3>
    </div>
  </div>
</div>
